{% load i18n notifications view_tag%}
<a class="not-wrapper"  href="{% block url %}{{ action.actor.get_absolute_url}}{% endblock url %}">
    <div class="avatar">
        {% block avatar %}
            <i class="icon-2x icon-envelope"></i>
        {% endblock avatar %}
    </div>
    <div class="header">
        <div class="verb">
            {% block action_verb %}
                {{ action.verb }}
            {% endblock %}
            {% if short_display == False %}
                {{ action.actor }}
            {% endif %}
            <br/>
            {% block action_object %}
                {% if action.action_object %}
                    {% if short_display %}
                        {{ action.action_object | ellipsis:25 }}
                    {% else %}
                        {{ action.action_object}}
                    {% endif %}
                {% endif %}
            {% endblock %}
        </div>
        <div class="time">
            <div class="content">
                {{ action.timesince | upto:',' }}
            </div>
        </div>
    </div>
</a>