{% extends 'base_app.html' %}
{% load i18n view_tag %}

{% block title %}
{% trans 'View Notifications' %}
{% endblock %}

{% block content %}

    {% if user.aluno and request.session.matricula %}
        {% instance_card request.session.matricula  %}
    {% else %}
        {% instance_card user.empregado %}
    {% endif %}


    <hr style="margin:0px 0px 10px">

    <div id="content-main">

        <div class="box">
            <div class="header">

                <i class="icon-envelope"></i>

                <span class="break"></span>
                <span class="title">{% trans 'Notifications' %}</span>
            </div>
            <div class="box-content">

                {% for notification in notifications %}
                    <div class="notification">
                        {{ notification }}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock content%}

{% block sidebar %}

    <div class="side-image" >
        {% if user.aluno and request.session.matricula %}
            {% instance_photo 64 request.session.matricula %}
        {% elif user.empregado %}
            {% instance_photo 64 user.empregado %}
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}

{% endblock javascript %}